/*   TABLE STYLE */

#gradient-style-large
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0px;
	width: 100%;
/*	text-align: left;*/
	border-collapse: collapse;
}
#gradient-style-large th
{
        text-align: left;
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#gradient-style-large td
{
/*	width: 120px;*/
	padding: 8px;
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff;
}
#gradient-style-large td:first-child
{
    width:1%;
    white-space:nowrap;
}
#gradient-style-large td img {
        max-width: 100px;
}
#gradient-style-large tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
#gradient-style-large tbody tr:hover td
{
	background: #d0dafd;
	color: #339;
}
