.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show Former Members';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Hide Former Members';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

/* Other style */ 
/*body {*/
/*  padding: 2%;*/
/*}*/

/*p {*/
/*  padding: 2%;*/
/*  background: #fff9c6;*/
/*  color: #c7b27e;*/
/*  border: 1px solid #fce29f;*/
/*  border-radius: .25em;*/
/*}*/
